# Force HTTPS and non-WWW
<IfModule mod_rewrite.c>
RewriteEngine On

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

# Allow Facebook crawler
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} facebookexternalhit [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Facebot [NC]
RewriteRule .* - [E=NORL:1]
</IfModule>

PassengerAppRoot /home/bghranac/repositories/bghrana
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py
PassengerPython /home/bghranac/virtualenv/repositories/bghrana/3.11/bin/python3.11
